<% title = 'Add a Professor' %>

<div class="max-w-2xl">
  <h1 class="font-black text-5xl">Add a Professor</h1>
  <p class="mt-2 text-gray-600">Please use the search bar above to make sure that the professor does not already exist at this university.</p>

  <% if (typeof error !== 'undefined' && error) { %>
    <div class="mt-5 p-4 bg-red-300 rounded-lg border">Error: <%= error %></div>
  <% } %>

  <form method="post" class="mt-10 space-y-8">
    <div>
      <label for="university" class="block font-semibold mb-2">Name of University *</label>
      <select name="university" id="university" required 
      class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300">
        <option selected disabled value="">Select a university</option>
      <% universities.forEach(u => { %>
        <option value="<%= u.slug %>" <%= values?.university === u.slug ? 'selected' : '' %>><%= u.name %></option>
      <% }) %>
      </select>
    </div>

    <div>
      <label for="first" class="block font-semibold mb-2">First Name *</label>
      <input name="first" type="text" id="first" required value="<%= values.first %>"
      class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300" />
    </div>

    <div>
      <label for="middle" class="block font-semibold mb-2">Middle Name</label>
      <input name="middle" type="text" id="middle" value="<%= values.middle %>"
      class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300" />
    </div>

    <div>
      <label for="last" class="block font-semibold mb-2">Last Name *</label>
      <input name="last" type="text" id="last" required value="<%= values.last %>"
      class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300" />
    </div>

    <div>
      <label for="departmentName" class="block font-semibold mb-2">Department Name *</label>
      <input name="departmentName" type="text" id="departmentName" required value="<%= values.departmentName %>"
      class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300" />
    </div>

    <div>
      <label for="directoryUrl" class="block font-semibold mb-2">Directory Listing URL *</label>
      <input name="directoryUrl" type="url" id="directoryUrl" required value="<%= values.directoryUrl %>"
      class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300" />
    </div>

    <div class="pt-4">
      <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-2 rounded-lg">
        Add Professor
      </button>
    </div>
  </form>
</div>
