<div class="max-w-96">
    <h1 class="text-4xl text-balance">Add Rating</h1>

    <div class="flex flex-col mt-8">
        <h1 class="font-black text-5xl text-balance"><%= profFullName %></h1>
        <p class="mt-4 text-balance"><%= profDeptName %> — <a class="font-bold underline" href="<%= profUniLink %>"><%= profUniName %></a></p>
    </div>

    <hr class="mt-8 border-gray-300">

    <form method="post">

        <%- include('../../components/RatingBar') %>

    </form>




</div>